* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    line-height: 1.6;
    background-color: #f5f5f5;
    color: #222;
}

h1,
h2,
h3 {
    font-family: "Merriweather", serif;
}

header {
    text-align: center;
    padding: 1rem;
    background: #6b704c;
    color: #fff;
}

#menu-button {
    font-size: 2rem;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

.navigation {
    display: none;
}

.navigation.open {
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav ul {
    list-style: none;
    padding: 1rem;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    display: block;
    padding: 0.75rem;
}

nav a:hover {
    background: #505536;
    border-radius: 4px;
}

#temple-cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    padding: 1rem;
}

article {
    background: white;
    padding: 1rem;
    border-radius: 8px;
    text-align: center;
}

article img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 6px;
}

footer {
    background: #6b704c;
    color: white;
    text-align: center;
    padding: 1rem;
}