@media (min-width: 768px) {

    #menu-button {
        display: none;
    }

    .navigation {
        display: flex !important;
        justify-content: center;
    }

    nav ul {
        display: flex;
        justify-content: center;
        gap: 2rem;
    }

    #temple-cards {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
}