:root {
    --body-font: "Roboto", sans-serif;
    --primary-color: rgb(60, 0, 255);
    --text-color: #000000;
    --border-color: #ccc;
    --white-color: #ffffff;
}

header,
footer {
    max-width: 1000px;
    margin: 0 auto;


}




footer {
    text-align: center;
    background-color: var(--primary-color);
    border-radius: 6px;
}