body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f8f9fa;
}

/* HEADER */
header {
    background: #003366;
    color: white;
    text-align: center;
    padding: 20px;
}

/* MAIN */
main {
    max-width: 900px;
    margin: auto;
    background: white;
    padding: 20px;
}

/* SECTIONS */
section {
    border: 1px solid #ddd;
    margin-bottom: 20px;
    padding: 15px;
}

h2 {
    color: #003366;
}

/* LOGO */
.logo-box {
    border: 2px solid #003366;
    padding: 20px;
    text-align: center;
    background: #eee;
}

/* WIREFRAMES */
.wireframe-box {
    border: 2px solid black;
    margin: 10px 0;
}

.wf-header,
.wf-footer {
    background: #ccc;
    text-align: center;
    padding: 10px;
}

.wf-content {
    padding: 20px;
    text-align: center;
}

.wf-row {
    display: flex;
}

.wf-sidebar {
    width: 30%;
    background: #eee;
    padding: 20px;
}

.wf-main {
    width: 70%;
    padding: 20px;
}

/* FOOTER */
footer {
    background: #003366;
    color: white;
    text-align: center;
    padding: 15px;
}