@media (min-width: 768px) {
    #menuBtn {
        display: none;
    }

    #navMenu {
        display: block !important;
    }

    nav ul {
        flex-direction: row;
        justify-content: center;
        gap: 2rem;
        margin-top: 1rem;
    }

    nav li {
        margin: 0;
    }

    main {
        max-width: 1100px;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 2rem;
    }

    h1 {
        grid-column: 1 / -1;
    }
}